<%= form_with model: post do |f| %>
  <% if post.errors.any? %>
    <div class="card">
      <h3 class="title">Ошибки:</h3>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <%= f.label :caption, "Подпись" %>
    <%= f.text_area :caption, rows: 4 %>
  </div>

  <div class="form-row">
    <%= f.label :image, "Изображение" %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div class="actions">
    <%= f.submit(post.persisted? ? "Сохранить изменения" : "Опубликовать пост") %>
  </div>
<% end %>
