<h1>Профиль: <%= @user.username %></h1>

<p>
  Подписчики: <%= @user.followers.count %> |
  Подписки: <%= @user.following.count %>
</p>

<% if @user != current_user %>
  <% if @follow %>
    <%= button_to "Отписаться", follow_path(@follow), method: :delete %>
  <% else %>
    <%= button_to "Подписаться", follows_path(followed_id: @user.id), method: :post %>
  <% end %>
<% end %>

<h2>Посты</h2>
<% @posts.each do |post| %>
  <article style="margin-bottom: 16px;">
    <p><%= post.caption %></p>
    <% if post.image.attached? %>
      <p><%= image_tag post.image, style: "max-width: 280px;" %></p>
    <% end %>
    <p><%= link_to "Открыть", post_path(post) %></p>
  </article>
<% end %>
